name: coverage
on:
  push:
    tags:
      - v*
    branches:
      - master
      - main
  pull_request:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  codecov:
    name: publish
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.21.1
        uses: actions/setup-go@v1
        with:
          go-version: '1.21.1'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Get dependencies
        run: |
          go get -v -t -d ./...
          if [ -f Gopkg.toml ]; then
              curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
              dep ensure
          fi

      - name: Generate coverage report
        run: |
          go test `go list ./... | grep -v -E 'docs|cmd'` -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage report
        uses: codecov/codecov-action@v1.0.2
        with:
          token: 2b901472-ebb4-4b88-8774-55d7597a03f9
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella